<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li ><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
           <!--  <li><a href="#"><i class="fa fa-list-alt fa-fw"></i>Widgets</a></li>
            <li><a href="#"><i class="fa fa-file-o fa-fw"></i>Pages</a></li>
            <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Charts</a></li>
            <li><a href="#"><i class="fa fa-table fa-fw"></i>Table</a></li>
            <li><a href="#"><i class="fa fa-tasks fa-fw"></i>Forms</a></li>
            <li><a href="#"><i class="fa fa-calendar fa-fw"></i>Calender</a></li> -->
            <li class="active"><a href="#"><i class="fa fa-book fa-fw"></i>Reviews</a></li>
            <!-- <li><a href="#"><i class="fa fa-pencil fa-fw"></i>Applications</a></li>
            <li><a href="#"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
        </ul> -->
    </div>
    <div class="col-md-10 well">
        <div ng-repeat="r in reviews">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Review by {{r.reviewName}}</h3>
                    <span class="pull-right clickable" style="margin-top: -15px" ng-click="r.visible = !r.visible; getPics(r);">
                        <i ng-class="{true: 'glyphicon glyphicon-chevron-down', false: 'glyphicon glyphicon-chevron-up'}[!r.visible]"></i>
                    </span>
                </div>
                <div class="panel-body" ng-if="r.visible"  class="customAnimation">

                    {{r.reviewText}}

                    <hr/>

                    <div class="row">
                      <div ng-repeat="pic in r.pics">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                          <img class="img-responsive img-rounded shadowImg cropImg" ng-src="{{pic.imgPath}}" ng-click="selectPic(pic)">
                        </div>
                      </div>
                    </div>

                    <hr/>

                    <div class="pull-right">
                        <button class="btn" ng-click="editReview(r)">
                            <i class="fa fa-edit fa-fw fa-lg"/> Edit
                        </button>
                        <button class="btn" ng-click="deleteReview(r)">
                            <i class="fa fa-trash-o fa-fw fa-lg"/> Delete
                        </button>
                    </div>
                </div>
            </div>

        </div>  
    </div>

</div>

<!-- Modal -->
<div angular-modal ng-model="showModal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Review</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" ng-model="editReview" style="max-width: 700px;">

          <div class="form-group">
            <label for="inputName3" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName3" placeholder="Name" ng-model="editReview.reviewName">
            </div>
          </div>

          <div class="form-group">
            <label for="inputReview3" class="col-sm-2 control-label">Rating</label>
            <div class="col-sm-10">
              <div class="stars" style="font-size: 1.4em; margin-top: 5px;">         
                  <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[editReview.rating > 0]" ng-click="editReview.rating = 1;"></span> 
                  <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[editReview.rating > 1]" ng-click="editReview.rating = 2;"></span> 
                  <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[editReview.rating > 2]" ng-click="editReview.rating = 3;"></span> 
                  <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[editReview.rating > 3]" ng-click="editReview.rating = 4;"></span> 
                  <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[editReview.rating > 4]" ng-click="editReview.rating = 5;"></span> 
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputReview3" class="col-sm-2 control-label">Review</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" placeholder="Review Text" ng-model="editReview.reviewText"></textarea>
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="inputfile3" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <label class="fileContainer">
                    <span class="glyphicon glyphicon-picture"></span> Upload a Picture
                    <input type="file" ng-file-select="onFileSelect($files)"/>
                </label>
            </div>
          </div> -->
            
            <div ng-repeat="pic in pictures">
                <img ng-src="{{pic.imgPath}}" style="max-width: 50px;">
                <span> {{pic.imgName}} </span> <br/>
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-disabled="loading" class="close" data-dismiss="modal" ng-click="showModal = false;">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-disabled="loading" ng-click="updateReview()">
            <span ng-show="loading">Updating ...</span>
            <span ng-show="!loading">Save</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- picture Modal -->
<div angular-modal ng-model="showPicModal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <center>
          <img class="img-responsive img-rounded shadowImg largeImg" ng-src="{{bigPictureUrl}}"/>
        </center>
      </div>
    </div>
  </div>
</div>

<!-- <pre>
  showModal {{showModal}} <hr/>
  editReview {{editReview | json}} <hr/>
  reviews {{reviews | json}}
</pre> -->
