
<h1> Page 3 </h1>

<p> Hi {{ name }} </p>

<!-- <div class="input-group image-preview">
    <input type="text" class="form-control image-preview-filename" disabled="disabled"> 
    <span class="input-group-btn">
        
        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
            <span class="glyphicon glyphicon-remove"></span> Clear
        </button>
        
        <div class="btn btn-default image-preview-input">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="image-preview-input-title">Browse</span>
            <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> 
        </div>
    </span>
</div><

<hr/> -->

<div class="list-group">
	<div ng-repeat="r in reviews">
		<a href="#page2" class="list-group-item">
			
			<h4 class="list-group-item-heading" >
				<img alt="image" class="img-responsive img-rounded media-object pull-left" style="max-width:250px; margin:10px" ng-src="{{r.imgUrl}}">
				{{r.title}}
			</h4>

			<p class="list-group-item-text">
				<div class="stars">					
			        <span class="glyphicon glyphicon-star"></span> 
			        <span class="glyphicon glyphicon-star"></span> 
			        <span class="glyphicon glyphicon-star"></span> 
			        <span class="glyphicon glyphicon-star"></span> 
			        <span class="glyphicon glyphicon-star-empty"></span> 
			    </div>
			    <p>
			    	{{r.storyText}}
			    </p>
			    <div>
			        <span class="badge badge-success">Posted {{r.date | date:'medium'}}</span>
			        <div class="pull-right">
			        	<span class="label">alice</span>
			        	<span class="label">story</span> 
			        	<span class="label">blog</span> 
			        	<span class="label">personal</span>
			        </div>
			    </div>			
			</p>
		</a>
	</div>
</div>