
<h1> {{title}} </h1>

<div class="row">
	
    <div class="col-lg-8">

          <h4 class="list-group-item-heading" >
            {{review.reviewName}}
          </h4>

          <span class="badge badge-success">Posted {{review.dateAdded | date:'medium'}}</span>

          <div class="stars" style="font-size: 1.4em; margin-top: 5px;">         
            <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[review.rating > 0]"></span> 
            <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[review.rating > 1]"></span> 
            <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[review.rating > 2]"></span> 
            <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[review.rating > 3]"></span> 
            <span ng-class="{true: 'glyphicon glyphicon-star', false: 'glyphicon glyphicon-star-empty'}[review.rating > 4]"></span> 
          </div>

          <p>
            {{review.reviewText}}
          </p>

          <div>                 
            <div class="pull-left">
              <span class="label">alice</span>
              <span class="label">story</span> 
              <span class="label">blog</span> 
              <span class="label">personal</span>
            </div>
          </div> 

          <hr/>

          <div class="row">
            <div ng-repeat="pic in pics">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img class="img-responsive img-rounded shadowImg cropImg" ng-src="{{pic.imgPath}}" ng-click="selectPic(pic)">
              </div>
            </div>
          </div>

    </div>  

    <div class="col-lg-4">

    </div>

</div>

<!-- picture Modal -->
<div angular-modal ng-model="showPicModal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <center>
          <img class="img-responsive img-rounded shadowImg largeImg" ng-src="{{bigPictureUrl}}"/>
        </center>
      </div>
    </div>
  </div>
</div>

<pre>
    review {{review | json}} <hr/>
    pics {{pics | json}}
</pre>

